

.mainlogo {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.tag {
	display: flex;
	margin-left: 10%;
	margin-top: 0.5%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-right: 10%;
	margin-bottom: 0.5%;
	border: none;
}

.maintitle{
	display: flex;
	align-items: center;
}



a {
	margin-right: 10px;
	text-decoration-line: none;
	color: black;
}

.inter {
	display: flex;
	align-items: center;
	border: none;
}

.lomem {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
}

strong{
	margin: 0 auto;
}

.writing{
	display:flex;
	align-items: center;
	width: 82px;
	height: 40px;
	background-color: red;
	color: #fff;
	font-size: 14px;
}

.login{
display:flex;
	width: 66px;
	height: 18px;
	align-items: center;
	justify-content: center;
	border: 0.5px solid gray;
	font-size: 10px;
}

.member{
display:flex;
	width: 66px;
	height: 18px;
	align-items: center;
	justify-content: center;
	border: 0.5px solid gray;
	margin-top: 2px;
	font-size: 10px;
}

