header{
border-bottom: 1px solid #d4d4d4;
}
	.didi {
	border: none;
	display: flex;
	}
	.indiv {
	position: fixed;
	top:35%;
	right: 25%;
	text-align: center;
	}
	.hehe {
	position: fixed;
	top:35%;
	left: 15%;
	}
	.h2 {
	margin-left: 22px;
	margin-bottom: 28px;
	}
	input {
	height: 25px;
	width: 240px;
	margin-bottom: 10px;
	align: center;
	}
	.button {
	height: 25px;
	width: 100px;
	background: red;
	color: white;
	border: gray;
	
	}
	.allsec{
	position: fixed;
	top: 21%;
	left: 13%;
	background-color: #f8f8f8;
	height: 450px;
	width: 70%;
	border-top: 1px solid black;
	
	}