	header{
	border-bottom: 1px solid #d4d4d4;
	}
	section {
	position: fixed;
	top: 21%;
	left: 18%;
	background-color: #f8f8f8;
	height: 450px;
	width: 60%;
	border-top: 1px solid black;
	/* border-left: 1px solid black; */
	}
	.Head {
	position: fixed;
	top: 11%;
	left: 18%
	}
	.tal {
	position: fixed;
	top: 79%;
	right: 23%;
	height: 30px;
	width: 60px;
	border: none;
	background: red;
	color: white;
	}
	.su {
	position: fixed;
	top: 64%;
	left: 19%;
	height: 30px;
	width: 60px;
	border: none;
	background: red;
	color: white;
	}
	.secP {
	position: fixed;
	top: 53%;
	left: 19%;
	}
	.Picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: fixed;
	top:30%;
	left: 25%;
	}
	.H3 {
	position: fixed;
	top: 23%;
	left: 19%;
	}
